<div id="<%= dom_id document_dg_forward_minister %>">
  <p>
    <strong>Description:</strong>
    <%= document_dg_forward_minister.description %>
  </p>

  <p>
    <strong>Document from dg:</strong>
    <%= document_dg_forward_minister.document_from_dg_id %>
  </p>

  <p>
    <strong>Directorate:</strong>
    <%= document_dg_forward_minister.directorate_id %>
  </p>

</div>
