<h1>Editing document dg forward minister</h1>

<%= render "form", document_dg_forward_minister: @document_dg_forward_minister %>

<br>

<div>
  <%= link_to "Show this document dg forward minister", @document_dg_forward_minister %> |
  <%= link_to "Back to document dg forward ministers", document_dg_forward_ministers_path %>
</div>
