
<div class="container mt-2">
  <div class="card">
    <div class="card-header">
        Send to Minister
    </div>
    <div class="card-body">
        <%= render "form", document_dg_forward_minister: @document_dg_forward_minister %>
    </div>
</div>
</div>
