<div id="<%= dom_id minister_document_forward_natdirectorate %>">
  <p>
    <strong>Description:</strong>
    <%= minister_document_forward_natdirectorate.description %>
  </p>

  <p>
    <strong>Minister document:</strong>
    <%= minister_document_forward_natdirectorate.minister_document_id %>
  </p>

</div>
