<h1>Editing minister document forward natdirectorate</h1>

<%= render "form", minister_document_forward_natdirectorate: @minister_document_forward_natdirectorate %>

<br>

<div>
  <%= link_to "Show this minister document forward natdirectorate", @minister_document_forward_natdirectorate %> |
  <%= link_to "Back to minister document forward natdirectorates", minister_document_forward_natdirectorates_path %>
</div>
