<div id="<%= dom_id document_dg_forward_department_unit %>">
  <p>
    <strong>Document from dg:</strong>
    <%= document_dg_forward_department_unit.document_from_dg_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document_dg_forward_department_unit.description %>
  </p>

</div>
