<div id="<%= dom_id minister_document_forward_directorate %>">
  <p>
    <strong>Description:</strong>
    <%= minister_document_forward_directorate.description %>
  </p>

  <p>
    <strong>Minister document:</strong>
    <%= minister_document_forward_directorate.minister_document_id %>
  </p>

</div>
