<h1>Editing minister document forward directorate</h1>

<%= render "form", minister_document_forward_directorate: @minister_document_forward_directorate %>

<br>

<div>
  <%= link_to "Show this minister document forward directorate", @minister_document_forward_directorate %> |
  <%= link_to "Back to minister document forward directorates", minister_document_forward_directorates_path %>
</div>
