<div id="<%= dom_id constitutional_government %>">
  <p>
    <strong>Sequential number:</strong>
    <%= constitutional_government.sequential_number %>
  </p>

  <p>
    <strong>Constitutional government name:</strong>
    <%= constitutional_government.constitutional_government_name %>
  </p>

</div>
