<h1>Editing constitutional government</h1>

<%= render "form", constitutional_government: @constitutional_government %>

<br>

<div>
  <%= link_to "Show this constitutional government", @constitutional_government %> |
  <%= link_to "Back to constitutional governments", constitutional_governments_path %>
</div>
