<div id="<%= dom_id minister_document_forward_department %>">
  <p>
    <strong>Description:</strong>
    <%= minister_document_forward_department.description %>
  </p>

  <p>
    <strong>Minister document:</strong>
    <%= minister_document_forward_department.minister_document_id %>
  </p>

  <p>
    <strong>Natdirectorate:</strong>
    <%= minister_document_forward_department.natdirectorate_id %>
  </p>

</div>
