<%= form_with(model: [ @document_from_dn, @comment_document_dn ]) do |form| %>
  <p>
    <%= form.label :comment, "Comment" %><br>
    <%= form.text_area :comment, required: true, class: "form-control" %>
  </p>

  <p>
    <%= form.submit "Send", class: "btn btn-secondary btn-sm menu-hover" %>
  </p>
<% end %>
