<div class="row mt-2">
        <div class="col-sm-2 mb-1">
        <div class="card shadow-sm bg-body rounded">
            <div class="card-body text-center">
            <div class="text-center ">
                <img src="../open-folder.png" style="width:30px;padding:1px; " class="card-img-top" alt="...">
            </div>
            <h6 class="card-title">Karta Husi DG</h6>
            <a href="/dashboard_staff" class="stretched-link"></a>
            </div>
        </div>
        </div>

        <div class="col-sm-2 mb-1">
        <div class="card shadow-sm bg-body rounded">
            <div class="card-body text-center">
            <div class="text-center ">
                <img src="../open-folder.png" style="width:30px;padding:1px; " class="card-img-top" alt="...">
            </div>
            <h6 class="card-title">Karta husi DN</h6>
            <a href="/dashboard_staff/doc_dn" class="stretched-link"></a>
            </div>
        </div>
        </div>

       
</div>
