<div id="<%= dom_id minister_document_forward_department_unit %>">
  <p>
    <strong>Description:</strong>
    <%= minister_document_forward_department_unit.description %>
  </p>

  <p>
    <strong>Minister document:</strong>
    <%= minister_document_forward_department_unit.minister_document_id %>
  </p>

  <p>
    <strong>Directorate:</strong>
    <%= minister_document_forward_department_unit.directorate_id %>
  </p>

</div>
