<h1>Editing minister document forward department unit</h1>

<%= render "form", minister_document_forward_department_unit: @minister_document_forward_department_unit %>

<br>

<div>
  <%= link_to "Show this minister document forward department unit", @minister_document_forward_department_unit %> |
  <%= link_to "Back to minister document forward department units", minister_document_forward_department_units_path %>
</div>
