<div id="<%= dom_id document_dg_forward_department %>">
  <p>
    <strong>Document from dg:</strong>
    <%= document_dg_forward_department.document_from_dg_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document_dg_forward_department.description %>
  </p>

</div>
