<div id="<%= dom_id document_dg_forward_natdirectorate %>">
  <p>
    <strong>Description:</strong>
    <%= document_dg_forward_natdirectorate.description %>
  </p>

  <p>
    <strong>Document from dg:</strong>
    <%= document_dg_forward_natdirectorate.document_from_dg_id %>
  </p>

</div>
