<h1>Editing document dg forward  natdirectorate</h1>

<%= render "form", document_dg_forward_natdirectorate: @document_dg_forward_natdirectorate %>

<br>

<div>
  <%= link_to "Show this document dg forward  natdirectorate", @document_dg_forward_natdirectorate %> |
  <%= link_to "Back to document dg forward  natdirectorates", document_dg_forward_natdirectorates_path %>
</div>
