<div id="<%= dom_id natdirectorate %>">
  <p>
    <strong>Natdircode:</strong>
    <%= natdirectorate.natdircode %>
  </p>

  <p>
    <strong>Natdirname:</strong>
    <%= natdirectorate.natdirname %>
  </p>

  <p>
    <strong>Directorate:</strong>
    <%= natdirectorate.directorate_id %>
  </p>

</div>
