<footer class="py-5 mt-5 text-center text-body-secondary navbarbgclr">
  <div class="container">
    <p class="float-end ">
    <a href="#" class="btn btn-sm btn-outline-secondary menu-hover bi bi-caret-up-square-fill"> Back to top</a>
    </p>
    <p class="mb-1"> &copy; 2024 Copyright Reserved Ministry of Finance</p>
    <p class="mb-0">Developed and maintained by IFMISU.</p>
  </div>
</footer>




